<h1 class="text-center text-info">Iniciando com diretivas</h1>


<!-- Diretivas de atributos -->
<!-- Muda somente os atributos -->
<div
[ngStyle]="{ background: count < 5 ? 'red' : 'gray' }"
[ngClass]="{ custom: count > 10 }"
>
  <h2 class="text-center mt-4">Contador: {{ count }} </h2>
</div>

<div
  [ngStyle]="{ color: randomNumber === 1 || randomNumber === 3 || randomNumber === 5 ? 'green' : 'blue' }"
  [ngClass]="{ customizada: randomNumber === 2 || randomNumber === 4 || randomNumber === 6 }"
>
  <h3 class="text-center">Número aleatório: {{ randomNumber }} </h3>
</div>

<!-- Diretivas estruturais -->
<!-- Muda a estrutura -->
<h2 class="text-center text-warning" *ngIf="count >= 10; else menor">Atenção! poucos segundos para promoção!</h2>
<h2 class="text-center text-danger" *ngIf="randomNumber === 10; else sorteado">Parabéns seus número foi sorteado!</h2>

<ng-template #menor>
  <h2 class="text-center text-success">Começou!</h2>
</ng-template>

<ng-template #sorteado>
  <h2 class="text-center text-danger">Seu número não foi o ganhandor</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <li
    class="list-group-item"
    *ngSwitchCase="3"
    >
    É igual a 3
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="5"
    >
    É igual a 5
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="7"
    >
    É igual a 7
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="9"
    >
    É igual a 9
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="11"
    >
    É igual a 11
  </li>
  <li
    class="list-group-item"
    *ngSwitchDefault
    >
    Esse é o padrão
  </li>
</ul>
